input[type=text] {
 width: 100%;
}

/* When the input field gets focus, change its width to 100% */
.bill_title{
  color:red;
  font-size: 120%;
}
.bill_summary{
  margin-left: 30px;
}
.basicInfo{
  float: left;
}

.wrapper{
  width: 80%;
  display:inline-flex;
  padding:5px;
  margin:10px;
}

.picture{
  float:left ;
  display:block;
  padding-right: 30px;
  padding-left: 20px;
  width: 300px;
  height:auto;
}

.newBill{
  display: inline-block;
}

.polInfo{
  display: flow-root  ;

}
