/*#content{
  padding:15px;
}
.container{
  background-color: #B71C1C;
  border-radius: 15px;
  padding: 20px;
  font-weight: bold;
  color: black;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: black;
 }

 .table-striped>tbody>tr:nth-child(even)>td,
 .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #263238;
  }*/
.shows_elections{
  margin-left: 30px;
}
.table-bordered td{
  font-size: 150%;
  color: black;
}
