/*Disables the scroll wheel on input=number, super general*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.reg_mic{
  display: block;
}
.reg_header{
  display: inline-block;
}

.mic_icon{
  float: right;
}

#reg_info_div{
  padding-top: 90px;
  padding-bottom: 10px;

}

/*h2, h3, .table-striped>tbody>tr>td,
.table-striped>tbody>tr>th, Label{
  color: #ECEFF1;
}*/
