/*Disables the scroll wheel on input=number, super general*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*h2, h3, .table-striped>tbody>tr>td,
.table-striped>tbody>tr>th, Label{
  color: #ECEFF1;
}*/
