input[type=text] {
 width: 100%;
}

/* When the input field gets focus, change its width to 100% */


.moreInfo{
  float:right;
}

#picture{
  float:left;
  display:block;
  padding-right: 30px;
  padding-left: 20px;
  width: 200px;
  height:auto;
}

.committeeInfo{
  display:none;
}

a:hover + div.committeeInfo{
  display:flow-root;
}

.newBill{
  display: inline-block;
}

.polInfo{
  display: flow-root  ;
}

.well{
  overflow:hidden;
}

#polInfoButton{
  float: right;
}

#pol_info_div{
  padding-top: 5px;
}
